nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#main_bio{
    display: flex;
    align-items: center;
    padding-left: 25%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#name{
    font-size: 25px;
    font-family: sans-serif;
}
a{
    font-size: 30px;
    font-family: sans-serif;
    color: black;
}
#links{
    padding-top: 20px;
}
#links a{
    margin-right: 10px;
    text-decoration: none;
}
main{
    background-color: gray;
    margin-left: 10%;
    margin-right: 10%;
    color: aliceblue;
}
img{
    border-radius: 50%;
    height: 50%;
    width: 50%;
}
.bio_name{
    font-size: 70px;
    padding-right: 70px;
    color: aliceblue;
    padding-top: 0px;
    padding-bottom: 0px;
}
#lastname{
    margin-top: 0px;
}
#firstname{
    margin-bottom: 0px;
}
#basic_info{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20%;
    padding-right: 20%;
    color: aliceblue;
    padding-bottom: 5%;
}
#la_virgen{
    width: 15%;
    float: right;
    margin-top: -55px;
    border-radius: 0;
    padding-left: 5%;
}
.section_header{
    font-family: sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4%;
}
.section_content{
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
    display: block;
    border-top: 1px solid aliceblue;
}
.section_content p{
    font-size: 20px;
}
#gym{
    width: 25%;
    float: left;
    border-radius: 0;
    padding-right: 2%;
}
#luigi{
    border-radius: 0;
    float: right;
    width: 15%;
    padding-left: 5%;
}
#grade{
    border-radius: 0;
    float: right;
    width: 20%;
    padding-left: 5%;
}
.port_content{
    margin: 2%;
    padding: 2%;
    background-color: white;
    color: black;
}
.port_content p{
    font-size: 20px;
}
#container{
    padding-bottom: 2%;
}